

.fc-toolbar-title {
    font-family: poppins;
    text-transform: lowercase;
    font-size: small;
    width: fit-content;
}

.fc .fc-today-button {
    margin-right: 1vw;
}

.fc .fc-button-primary {
    /* margin: 0 1vw 0 1vw; */
    background-color: #3c83f6;
    border: transparent;
}

.fc .fc-button-primary:hover {
    background-color: #2563EB;
    border: transparent;
}

.fc .fc-daygrid-day-number {
    font-family: poppins;
    text-transform: lowercase;
    padding: 1vh 1vw 0 0;
}

.fc-day {
    text-transform: lowercase;
}

.fc-daygrid-day-events {
    cursor: pointer
}
